%h1 Current Playlist

%a{:href => "#current"} Currently Playing

%h3#current_info_header Currently Playing
%ul#current_info
  - @player.cur_song.each do |k,v|
    %li{:id => 'current_'+k}
      = k + " = " + v

= render(:partial => '_partials/controls', |
  :locals => { :cur_song  => @player.cur_song,  |
  :playing    => @player.playing?,                 |
  :stopped    => @player.stopped?,                 |
  :repeat     => @player.repeat?,                  |
  :playlist   => @player.playlist,                |
  })                                       |


#current_playlist
  %h3 Current Playlist
  %table
    %tr
      %th Album Track
      %th Song
      %th Album
      %th Artist
      %th Duration
      %th
        / Up
      %th
        / Down
      %th
        / Remove
    - @cur_playlist.each do |song|
      <tr class="song" #{@player.cur_song['pos'].to_i == song['pos'].to_i ? "id='nowplaying'" : ''}>
      %td.tracknum= song.track
      %td.song_name
        - if song['pos'] == @player.cur_song['pos']
          %a{:name => 'current', :id => 'current'}
            %span#playlist_cur_song_name #{song.title}
        - else
          = link_to song.title, play_path(:pos => song['pos']), :id => 'cur_playlist_track__'+song['pos'], :class => 'song_name'
      %td.album_name= song.album
      %td.artist_name= song.artist
      %td.duration= song.time
      %td
        -# if song['pos'].to_i != 0
          = link_to image_tag("arrow_up.png"), listen_move_up_path(:pos => song['pos']), :id => 'listen_move_up__'+ song['pos'], :class => 'listen_move_up move_up'
      %td
        -# if song['pos'].to_i != (@cur_playlist.length - 1)
          = link_to image_tag("arrow_down.png"), listen_move_down_path(:pos => song['pos']), :id => 'listen_move_down__'+ song['pos'], :class => 'listen_move_down move_down'
      /%td= link_to image_tag("delete.png"), listen_remove_path(:pos => song['pos']), :id => 'listen_remove__'+ song['pos'], :class => 'listen_remove'

