!!!
%html
  %head
    %title
      Stratum
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    .header
      %a#sync_mpd{:href => "/sync_mpd", :data => {remote: 'true'}}
        Sync MPD
      %br
      #info
        &nbsp;
    = yield
